name: Generate Snake Game

on:
  schedule:
    - cron: '0 0 * * 0'  # Toda segunda-feira à meia-noite
  workflow_dispatch:  # Permite execução manual

jobs:
  snake:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
      
      - uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark
      
      - uses: actions/upload-artifact@v3
        with:
          name: snake-game
          path: dist/
      
      - uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: 'chore: generate snake game'
          add: 'dist/'
